@import "variables";
@import "mixins";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;

  &__logo {
    font-weight: 700;
    font-size: 32px;
    color: $color-black;

    &:hover {
      color: $color-red;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
