@import "variables";
@import "mixins";

.button {
  width: fit-content;
  display: flex;
  align-items: center;

  color: $color-white;
  background-color: $color-black;

  text-decoration: none;
  padding: 15px 30px;
  gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 15px;

  &:active {
    background-color: $color-red;
  }

  &___icon {
    font-size: 30px;
    line-height: 0;
  }
}
