*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #13131b;
  color: #fff;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 800px;
  margin: 0 auto;
}