*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  margin-bottom: 3rem;
}