@import "variables";
@import "mixins";

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  &__icon {
    font-size: 30px;
    color: $color-red;
    line-height: 0;
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
  }

  @include breakpoint(desktop) {
    flex-direction: row;
  }
}
