@import "variables";

.terminal {
  display: flex;
  flex-direction: column;

  padding: 10px;

  width: 100%;
  font-family: monospace;
  min-height: 200px;

  background-color: $color-black;

  color: $color-white;
  .output {
    font-family: monospace;
    max-height: 15em;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: pre-wrap;
  }
}
